.body {
	background: rgba(0, 0, 0, 0.2);
}

.head_nav {
	height: 4rem;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}

.head_nav form .search_bar {
	height: 2rem;
	border: none;
	border-radius: 1rem 0 0 1rem;
}

.head_nav form .search_btn {
	box-shadow: none;
	height: 2rem;
	border-radius: 0 1rem 1rem 0;
}

.post_show {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.post_show .post_info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40vw;
}

#create_comment_fold {
	text-decoration: underline;
	user-select: none;
}

.create_comment {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 70vw;
	background: lightgray;
}

.create_comment textarea {
	border-radius: 2rem;
	width: 50vw;
	padding: 1rem;
}

.create_comment input {
	width: 10vw;
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
}

.create_comment input:hover {
	background: darkcyan;
}

.comments {
	background: lightcyan;
	display: flex;
	width: 60vw;
	flex-direction: column;
}

.comment_head {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
